<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edytowanie stanowiska</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>

</head>
<body>
<!-- Navigation -->
<nav th:replace="fragments/nav :: nav('none')"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div align="center">
                <h1>Edytuj stanowisko</h1>

                <form action="#" th:action="@{/position/update}" th:object="${position}" method="post">
                    <table>
                        <tr>
                            <th colspan="2">
                                <h3>Dane stanowiska:</h3>
                            </th>
                        </tr>
                            <tr>
                                <td>Numer stanowiska:</td>
                                <td><input type="number" th:field="*{nr_stanowiska}" readonly="readonly"></td>
                            </tr>
                            <tr>
                                <td>Nazwa:</td>
                                <td><input type="text" th:field="*{nazwa_stanowiska}" required></td>
                            </tr>
                            <tr>
                                <td>Opis:</td>
                                <td><input type="text" th:field="*{opis}" required></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="submit-new">
                                    <button type="submit">zapisz</button>
                                </td>
                            </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/pesel_handler.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/table_headers.js}"></script>

</body>
</html>