<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee data page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/custom-checkbox.css} "/>

</head>

<body th:style="'background: url(/assets/img/img.png) no-repeat center center fixed;'">


<style th:inline="text">s
    body{
        background: url([[@{/assets/img/img.png}]])
        no-repeat center center fixed;
    }
</style>


<!-- Navigation -->
<nav th:replace="fragments/nav :: nav('Employees')" ></nav>


<!--Using images in page    -->
<!-- <img th:src="@{/assets/img/img.png}" alt="Image" class="img-fluid"> -->


<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div align="left">
                <h1>Employee Records</h1>
                <div class="control-panel">
                    <div class="col-choose-wrapper">
                        <button>show/hide columns</button>

                        <div class="col-choose">

                        </div>

                    </div>
                    <div class="row-search">
                        <span></span>
                        <input type="text" placeholder="search in column">
                        <select id=""></select>
                    </div>
                </div>

                <table>

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Lastname</th>
                        <th>date of birth</th>
                        <th>Sex</th>
                        <th>PESEL</th>
                        <th>date of employment</th>
                        <th>Bank account</th>
                        <th>Phone number</th>
                        <th>E-mail address</th>
                        <th>Office</th>
                        <th>Position</th>
                        <th>ID of address</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="employee : ${employeeList}">
                        <td th:text="${employee.nr_pracownika}">ID</td>
                        <td th:text="${employee.imie}">Name</td>
                        <td th:text="${employee.nazwisko}">Lastname</td>
                        <td th:text="${employee.data_urodzenia}">date of birth</td>
                        <td th:text="${employee.plec}">Sex</td>
                        <td th:text="${employee.pesel}">PESEL</td>
                        <td th:text="${employee.data_zatrudnienia}">date of employment</td>
                        <td th:text="${employee.nr_konta}">Bank account</td>
                        <td th:text="${employee.nr_telefonu}">Phone number</td>
                        <td th:text="${employee.adres_email}">E-mail address</td>
                        <td th:text="${officeDict.get(employee.nr_biura).nazwa}">Office</td>
                        <td th:text="${employee.stanowisko.nazwa_stanowiska}"
                            th:title="${employee.stanowisko.opis}"
                        >Position</td>
                        <td th:text="${employee.nr_adresu}">ID of address</td>
                    </tr>
                    </tbody>

                </table>
                <section class="add-new-employee-wrapper">
                    <a class="hero-link" href="/employee/new">
                        <span>Create new employee</span>
                    </a>
                </section>
            </div>
        </div>
    </div>
</div>




<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/table_headers.js}"></script>

</body>
</html>

