<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Błąd 504</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<style>
    body > div{
        height: 100vh;
    }
    h1.display-1{
        font-weight: 900;
        font-family: monospace;
    }
    a.btn-primary{
        background: #B38356;
        border: #B38356;
    }
    a.btn-primary:hover, a.btn-primary:hover, a.btn-primary:focus, a.btn-primary:active{
        background: #705336 !important;
        border: #705336 !important;
    }
    a.btn-primary:focus{
        box-shadow: 0 0 0 0.2rem #70533666;
    }
</style>
<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">504</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Przekroczony czas bramy</p>
        <p class="lead">
            Serwer spełniający rolę bramy lub pośrednika – nie otrzymał w ustalonym czasie odpowiedzi od wskazanego serwera.
        </p>
        <a href="/" class="btn btn-primary">Wróć na stronę główną</a>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
