<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>
</head>

<!-- Navigation -->
<nav th:replace="fragments/nav :: nav('Home')"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Welcome to the home page!</label>
            <div style="font-size:20px">If you want to login, click <a th:href="@{/main}"><b>here</b></a> or in the
                upper right corner.
            </div>
            <div sec:authorize="hasRole('USER')">Text visible to user.</div>
            <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
            <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>
            <div sec:authentication="name"></div>


        </div>
    </div>
</div>

<!--<div align="center">
    <h1>Sales Records</h1>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="sale : ${listSale}">
            <td th:text="${sale.id}">ID</td>
            <td th:text="${sale.item}">Item Name</td>
            <td th:text="${sale.quantity}">Quantity</td>
            <td th:text="${sale.amount}">Amount</td>
        </tr>
        </tbody>

    </table>

</div>-->

<!-- Footer -->
<footer th:replace="fragments/footer"></footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

