<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodawanie nowego pracownika</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>

</head>
<body>
<!-- Navigation -->
<nav th:replace="fragments/nav :: nav('none')"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div align="center">
                <h1>Dodaj nowego pracownika</h1>

                <form action="#" th:action="@{/employee/save}" th:object="${newEmployee}" method="post">
                    <table>
                        <tr>
                            <th colspan="2">
                                <h3>Dane osobowe:</h3>
                            </th>
                        </tr>
                            <tr>
                                <td>Imie:</td>
                                <td><input type="text" th:field="*{imie}" required></td>
                            </tr>
                            <tr>
                                <td>Nazwisko:</td>
                                <td><input type="text" th:field="*{nazwisko}" required></td>
                            </tr>
                            <tr>
                                <td>PESEL</td>
                                <td><input type="text" th:field="*{pesel}" pattern="\d{11,11}" required></td>
                            </tr>
                            <tr>
                                <td>Data urodzenia</td>
                                <td><input type="date" th:field="*{data_urodzenia}" required></td>
                            </tr>
                            <tr>
                                <td>Płeć</td>
                                <td>
                                    <input type="radio" th:field="*{plec}" th:value="K">
                                    <label for="plec1">Kobieta</label>
                                    <input type="radio" th:field="*{plec}" th:value="M">
                                    <label for="plec2">Mężyczyzna</label>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Dane związane z zatrudnieniem:</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Data zatrudnienia</td>
                                <td><input type="date" th:field="*{data_zatrudnienia}" required></td>
                            </tr>
                            <tr>
                                <td>Biuro:</td>
                                <td>
                                    <select th:field="*{nr_biura}">
                                        <option value="0">Proszę wybrać</option>
                                        <option th:each="office : ${officeList}"
                                                th:value="${office.nr_biura}"
                                                th:text="${office.nazwa}"
                                        ></option>
                                    </select>
                                </td>
                            </tr>


                            <tr>
                                <td>Stanowisko:</td>
                                <td>
                                    <select th:field="*{nr_stanowiska}">
                                        <option value="0">Proszę wybrać</option>
                                        <option th:each="position : ${positionList}"
                                                th:value="${position.nr_stanowiska}"
                                                th:text="${position.nazwa_stanowiska}"
                                                th:title="${position.opis}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Numer konta bankowego</td>
                                <td>
                                    <input type="text" th:field="*{nr_konta}" required>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Dane kontaktowe:</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Numer telefonu</td>
                                <td><input type="text" th:field="*{nr_telefonu}" required></td>
                            </tr>
                            <tr>
                                <td>Adres e-mail</td>
                                <td><input type="text" th:field="*{adres_email}" required></td>
                            </tr>

                            <tr>
                                <td>Numer adresu:</td>
                                <td><input type="number" th:field="*{nr_adresu}" required></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="submit-new">
                                    <button type="submit">zapisz</button>
                                </td>
                            </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/pesel_handler.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/table_headers.js}"></script>

</body>
</html>